body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    color: #333;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.side-heading{
    color: darkcyan;
}
footer{
    background-color: #eee;
    margin: 0px auto;
    padding: 20px 0px;
    color: #333;
}
.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background-color: lightseagreen;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #333;
}
a{
     color: darkcyan;
    
}
a:hover{
    color: #333;
    text-decoration: none;
}
.copyright{
    color: lightslategrey;
    font-size: small;
}
nav{
    background-color: darkcyan;
}
.navbar-brand{
    padding-right: 50px;
}
h1{
    font-size: 45px;
    margin-bottom: 30px;
}
.sub-heading{
    word-spacing: 4px;
    font-size: 19px;
}
h2{
    margin-bottom: 50px;
    font-size: 35px;
}
.leader-name, .information{
   color: grey;
   padding: 10px 0;
}
.d-none{
    margin-bottom: 50px;
}
.aboutus-heading{
    padding: 0px 10px;
    color: lightslategray;
}
p{
    font-size: 17px;
}
.nav-item{
    padding-left: 20px;
}
.footer-icon{
    padding-right: 14px;
}
.btn-google {
    color: #d34836;
}
.btn-facebook{
    color: #3b5998;
}
.btn-linkedin{
  color: #0077b5;
}
.btn-twitter{
    color: #00acee;
}
.btn-gmail{
    color: blue;
}
.btn-youtube{
    color: #c4302b;
}
.btn-contact{
    margin: 10px 10px;
}
hr{
    color: red;
}   